
.acc-container {
  max-width: 950px;
  margin: auto;
  padding: 25px;
  font-family: "Poppins", sans-serif;
}

.account-para{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.acc-title {
  text-align: center;
  font-size: 38px;
  font-weight: 100;
  background: linear-gradient(45deg, #ff2929, #ff7b00);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.acc-subtitle {
  text-align: center;
  color: #444;
  margin-bottom: 30px;
}


.acc-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.acc-box {
  background: #fff;
  padding: 20px;
  border-radius: 18px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.acc-box:hover {
  transform: scale(1.03);
}

.acc-box h3 {
  font-size: 20px;
  margin: 0 0 8px;
}

.acc-box p {
  color: #555;
  font-size: 14px;
  margin-bottom: 15px;
}


.acc-btn {
  text-decoration: none;
  background: linear-gradient(45deg, #ff7b00, #ff2929);
  padding: 10px 15px;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  font-size: 14px;
}


.acc-contact {
  margin-top: 35px;
  text-align: center;
  background: #fff7eb;
  padding: 20px;
  border-left: 5px solid #ff7b00;
  border-radius: 15px;
}

.acc-contact h2 {
  margin: 0 0 10px;
  color: #ff7b00;
}


@media (max-width: 768px) {
  .acc-grid {
    grid-template-columns: 1fr;
  }

  .acc-title {
    font-size: 30px;
  }
}
