.cart {
  width: 100%;
  padding: 20px;
  font-family: Arial;
}

.cart-title {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: bold;
}

.cart-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}


.cart-items {
  flex: 2;
}

.cart-item {
  display: flex;
  background: #fff;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}

.cart-img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 8px;
}

.cart-info {
  margin-left: 15px;
  flex: 1;
}

.cart-price {
  color: #ff2929;
  font-weight: bold;
  margin: 5px 0;
}

.quantity-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity-box button {
  width: 30px;
  height: 30px;
  border: none;
  background: #eee;
  cursor: pointer;
  font-size: 20px;
}

.remove-btn {
  margin-top: 10px;
  background: transparent;
  color: red;
  border: none;
  cursor: pointer;
  font-weight: bold;
}


.cart-summary {
  flex: 1;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
  height: fit-content;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.green {
  color: green;
}

.total {
  font-size: 18px;
  font-weight: bold;
}

.checkout-btn {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background: #ff7b00;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .cart-container {
    flex-direction: column;
  }

  .cart-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .cart-info {
    margin-left: 0;
  }

  .cart-img {
    width: 100%;
    height: auto;
  }
}
