.top-filter-bar {
display: flex;
align-items: center;
padding: 10px 20px;
background: #0f1111;
gap: 20px;
color: white;
margin-bottom: -7%;
}


.dropdown {
position: relative;
}


.drop-btn {
background: none;
border: none;
color: white;
font-size: 16px;
cursor: pointer;
padding: 8px 5px;
}


.dropdown-content {
display: none;
position: absolute;
background: white;
color: black;
top: 35px;
min-width: 150px;
box-shadow: 0 4px 10px rgba(0,0,0,0.2);
border-radius: 5px;
z-index: 10;
}


.dropdown-content a {
display: block;
padding: 10px;
text-decoration: none;
color: black;
}


.dropdown-content a:hover {
background: #f2f2f2;
}


.dropdown:active .dropdown-content,
.dropdown:focus-within .dropdown-content {
display: block;
}