

.carousel {
  width: 100%;
  max-height: 450px;
  overflow: hidden;
  border-radius: 18px;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
  margin-top: 90px;
}

.firstpage-para {
    color: #ffffff;
    font-size: 2.2rem;
    font-weight: 700;
    background: rgba(0, 0, 0, 0.5); 
    padding: 18px 30px;
    border-radius: 10px;
    letter-spacing: 1px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
}


.carousel-inner img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}


.carousel-inner img:hover {
  transform: scale(1.05);
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: brightness(0) invert(1);
}

.carousel-control-prev,
.carousel-control-next {
  width: 60px;
  
  transition: 0.3s;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  opacity: 1;
}


@media (max-width: 768px) {
  .carousel {
    max-height: 250px;
  }

  .carousel-inner img {
    height: 250px;
  }
}

@media (max-width: 480px) {
  .carousel {
    max-height: 200px;
    border-radius: 12px;
  }

  .carousel-inner img {
    height: 200px;
  }
}
