.footer {
  background: #111;
  color: #fff;
  padding: 50px 20px 30px;
  font-family: "Poppins", sans-serif;
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
}


.footer-col {
  flex: 1 1 250px;
}


.footer-logo {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
}


.footer-desc {
  font-size: 15px;
  color: #ccc;
  line-height: 1.7;
  margin-bottom: 20px;
}


.footer-title {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 600;
}


.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.2s;
  color: #ccc;
}

.footer-links li:hover {
  color: #ff7b00;
}


.footer-socials i {
  font-size: 22px;
  margin-right: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.footer-socials i:hover {
  color: #ff7b00;
}


.footer-newsletter {
  display: flex;
  gap: 10px;
}

.footer-newsletter input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  flex: 1;
  width: 80%;
}

.footer-newsletter button {
  padding: 10px 18px;
  background: #ff7b00;
  border: none;
  color: #111;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
}

.footer-newsletter button:hover {
  background: #ff9f3c;
}


.footer-bottom {
  text-align: center;
  color: #bbb;
  margin-top: 30px;
  font-size: 14px;
}

@media (max-width: 768px) {
  .footer-wrapper {
    flex-direction: column;
    text-align: center;
  }

  .footer-newsletter {
    flex-direction: column;
  }

  .footer-newsletter button {
    width: 100%;
  }
}
