
.nav-header {
  width: 100%;
  background: #131921;
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 25px;
  font-family: Arial, sans-serif;
  position: sticky;
  top: 0;
  z-index: 1000;
}


.nav-logo a {
  text-decoration: none;
}

.dotin {
  font-size: 26px;
  font-weight: 700;
  color: #ff9c00;
  letter-spacing: 1px;
}


.search-section {
  display: flex;
  flex: 1;
  max-width: 550px;
  background: white;
  border-radius: 6px;
  overflow: hidden;
}

.search-category {
  border: none;
  padding: 8px;
  background: #ffdcfb;
  font-size: 14px;
  outline: none;
}

.search-input {
  flex: 1;
  padding: 8px 10px;
  border: none;
  outline: none;
  font-size: 14px;
}

.search-btn {
  background: #ff0606;
  padding: 0 15px;
  border: none;
  cursor: pointer;
}

.search-btn i {
  font-size: 16px;
  color: black;
}


.login-btn-box {
  display: flex;
  gap: 10px;
}

.header-btn {
  padding: 6px 12px;
  border: 1px solid white;
  background: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.header-btn a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 14px;
}


.profile-icon img.profile {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #ff0707;
  cursor: pointer;
  margin-left: 5%;
}


.cart-box a {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding-left: 15%;
  padding-top: 5%;
}

.cart-box i {
  font-size: 18px;
}

.cart-box span {
  font-weight: 500;
}


@media (max-width: 768px) {
  .search-section {
    display: none;
  }

  .login-btn-box {
    display: none;
  }
}
