.top-buy-section {
  padding: 40px 20px;
  text-align: center;
  margin-top: 15%;
  margin-bottom: 5%;
}

.section-title {
  font-size: 2.3rem;
  font-weight: 500;
  color: #ff2929;
}

.section-subtitle {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 35px;
}


.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 25px;
}


.product-card {
  background: #fff;
  padding: 16px;
  border-radius: 16px;
  text-align: center;
  border: 1px solid #f0f0f0;
  box-shadow: 0 3px 15px rgba(0,0,0,0.1);
  transition: 0.3s ease;
}

.product-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
}


.product-img {
  width: 100%;
  height: 220px;
  border-radius: 12px;
  object-fit: cover;
}


.product-name {
  font-size: 1.1rem;
  margin-top: 10px;
  font-weight: 600;
}


.rating {
  margin: 5px 0;
  color: #ff7b00;
  font-size: 0.95rem;
}


.price {
  font-size: 1.3rem;
  font-weight: 200;
  color: #ff2929;
}
.price del {
  color: #888;
  font-size: 0.9rem;
}


.buy-btn {
  margin-top: 12px;
  background: linear-gradient(135deg, #ff7b00, #ff2929);
  padding: 10px 18px;
  border: none;
  border-radius: 12px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.buy-btn:hover {
  transform: scale(1.07);
}
