
.offer-banner {
  background: linear-gradient(135deg, #ff7b00, #ff2929);
  color: #fff;
  border-radius: 22px;
  padding: 25px;
  box-shadow: 0 8px 25px rgba(255, 70, 40, 0.25);
  position: relative;
  overflow: hidden;
  margin-top: 10%;
  margin-bottom: 3%;
}

.offer-banner::after {
  content: "";
  position: absolute;
  top: -20px;
  right: -20px;
  width: 150px;
  height: 150px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
}


.timer-box {
  background: #fff7ec;
  border: 1px solid #ffcf94;
  border-radius: 18px;
  padding: 12px 18px;
  display: inline-flex;
  gap: 10px;
  align-items: center;
  box-shadow: 0 4px 12px rgba(255, 140, 80, 0.2);
  margin-bottom: 5%;
}

.timer span {
  background: #ff2929;
  color: #fff;
  padding: 10px 18px;
  border-radius: 12px;
  font-size: 22px;
  font-weight: 700;
  box-shadow: 0 3px 10px rgba(255, 50, 50, 0.3);
}


.offer-card {
  background: #fff;
  padding: 18px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 4px 18px rgba(0,0,0,0.12);
  transition: 0.35s ease;
  border: 1px solid #f4f4f4;
  margin-bottom: 9%;
}

.offer-card:hover {
  transform: translateY(-8px) scale(1.03);
  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
}

.offer-img {
  width: 100%;
  height: 230px;
  border-radius: 14px;
  object-fit: cover;
}


.product-card {
  background: #fff;
  padding: 14px;
  border-radius: 14px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.12);
  border: 1px solid #ececec;
  transition: 0.3s ease;
}

.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.18);
}

.product-img {
  width: 100%;
  height: 165px;
  object-fit: cover;
  border-radius: 12px;
}

.product-name {
  font-size: 1.05rem;
  margin-top: 10px;
  font-weight: 600;
  color: #333;
}

.price {
  font-weight: bold;
  font-size: 1.15rem;
  color: #ff2929;
  margin-top: 6px;
}

.price del {
  font-size: 0.9rem;
  color: #8c8c8c;
  margin-left: 5px;
}

